.grow {
  /*   -moz-osx-font-smoothing: grayscale; */
  /*   backface-visibility: hidden; */
  /*   transform: translateZ(0); */
  transition: transform 0.25s ease-out;

  &:hover {
    transform: scale(1.3);
  }
  &:active {
    transform: scale(0.9);
  }
}

.textDiv {
  max-width: 75vh;
}
